apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: gcp-emulator-config
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              env:
                - name: PUBSUB_EMULATOR_HOST
                  value: gcp-emulator.crossplane-system.svc.cluster.local:8085
