resources:
  - ../../base/crossplane
  - ../../base/dapr
  - ../../base/apps
  - ../../base/observability
  - ../common

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      labelSelector: app.kubernetes.io/component in (producer,consumer)
    path: apps-env-patch.yaml
  - path: grafana-security-patch.yaml

images:
  - name: agnostic-producer-ktor
    newName: ghcr.io/your-org/agnostic-producer-ktor
    newTag: v1.0.0
  - name: agnostic-consumer-ktor
    newName: ghcr.io/your-org/agnostic-consumer-ktor
    newTag: v1.0.0
  - name: agnostic-producer-gin
    newName: ghcr.io/your-org/agnostic-producer-gin
    newTag: v1.0.0
  - name: agnostic-consumer-gin
    newName: ghcr.io/your-org/agnostic-consumer-gin
    newTag: v1.0.0
  - name: agnostic-producer-springboot
    newName: ghcr.io/your-org/agnostic-producer-springboot
    newTag: v1.0.0
  - name: agnostic-consumer-springboot
    newName: ghcr.io/your-org/agnostic-consumer-springboot
    newTag: v1.0.0

labels:
  - pairs:
      app.kubernetes.io/part-of: crossplane-dapr
      app.kubernetes.io/environment: prod
    includeTemplates: true
