resources:
  - ../../base/crossplane
  - ../../base/runtime
  - ../../base/apps
  - ../../base/observability
  - crossplane-provider.yaml
  - crossplane-function.yaml
  - provider-config.yaml
  - bus-claim.yaml

patches:
  - path: dapr-pubsub-patch.yaml
  - path: apps-env-patch.yaml
  - path: grafana-security-patch.yaml

images:
  - name: agnostic-producer-ktor
    newName: ghcr.io/your-org/agnostic-producer-ktor
    newTag: latest
  - name: agnostic-consumer-ktor
    newName: ghcr.io/your-org/agnostic-consumer-ktor
    newTag: latest
  - name: agnostic-producer-gin
    newName: ghcr.io/your-org/agnostic-producer-gin
    newTag: latest
  - name: agnostic-consumer-gin
    newName: ghcr.io/your-org/agnostic-consumer-gin
    newTag: latest
  - name: agnostic-producer-springboot
    newName: ghcr.io/your-org/agnostic-producer-springboot
    newTag: latest
  - name: agnostic-consumer-springboot
    newName: ghcr.io/your-org/agnostic-consumer-springboot
    newTag: latest

labels:
  - pairs:
      app.kubernetes.io/part-of: crossplane-dapr
      app.kubernetes.io/environment: prod
