server:
  port: ${PORT:8080}

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /
      exposure:
        include: prometheus
      path-mapping:
        prometheus: metrics

app:
  subscription:
    pubsub-name: ${DAPR_PUBSUB_NAME:order-pubsub}
    topic-name: ${DAPR_TOPIC_NAME:orders}
    route: ${DAPR_SUBSCRIPTION_ROUTE:/orders}
